*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {  
    text-align: center;
    color: rgba(240, 248, 255, 0.801);
    background: linear-gradient(to right, #38cfb7, #9dbea9, #62c5b7, #0fbfa6);
}
.sub {
    font-weight: 400;
    margin: 20px 0;
    letter-spacing: 8px;
}
.title {
    font-weight: 500;
    margin: 20px 0;
    letter-spacing: 15px;
}
.wrap {
    display: flex;
    margin: 40px auto;
    justify-content: center;
}
.grid {
    width: 222px;
    height: 462px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: 1px solid;
}
.grid div {
    width: 20px;
    height: 20px;
    margin: 1px;
    
}
.tetromino {
    margin: 1px;
    background-color: red;
    border: 1px solid white;
}
.floor {
    background-color: #318264;
    border: 1px solid rgba(255, 255, 255, 0.788);
}
.nextTetri {
    margin-left: 20px;
    width: 150px;
    height: 140px;
}
.nextTetri div {
    width: 20px;
    height: 20px;
}
#start-btn {
    padding: 4px;
    border-radius: 15px;
    background-color: aquamarine;
    color: darkslategray;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px white;
}
